# Copyright 2025 Google LLC
# Copyright 2025 Ezurio
# SPDX-License-Identifier: LicenseRef-Ezurio-Clause

menu "DVK Probe options"
	depends on USB_DEVICE_STACK_NEXT
	depends on UART_INTERRUPT_DRIVEN
	depends on RING_BUFFER

module=DVK_PROBE
module-dep=LOG
module-str=Log level
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

config APP_USBD_MANUFACTURER
	string "USB device manufacturer string"
	default "Ezurio"
	help
	  USB device manufacturer string.

config APP_USBD_PRODUCT
	string "USB device product string"
	default "DVK Probe"
	help
	  USB device product string.

config APP_USBD_VID
	hex "USB device Vendor ID"
	default 0x3016
	help
	  USB device Vendor ID.

config APP_USBD_PID
	hex "USB device Product ID"
	default 0x0008
	help
	  USB device Product ID.

config APP_USBD_SELF_POWERED
	bool "USB device Self-powered attribute"
	help
	  Set the Self-powered attribute in the configuration.

config APP_USBD_REMOTE_WAKEUP
	bool "USB device Remote Wakeup attribute"
	help
	  Set the Remote Wakeup attribute in the configuration.

config APP_USBD_MAX_POWER
	int "USB device bMaxPower value"
	default 250
	range 0 250
	help
	  bMaxPower value in the configuration in 2 mA units.

config APP_USBD_20_EXTENSION_DESC
	bool "Use default USB 2.0 Extension Descriptor"
	default y
	depends on USBD_BOS_SUPPORT
	help
	  Set bcdUSB value to 0201 and use default USB 2.0 Extension Descriptor.

config APP_DEBUG
	bool "Enable debug logs"
	help
	  Enable debug logs for DVK Probe application.
	  This will add a USB CDC ACM port for debug logs.

config RFPROS_UART_BRIDGE_BUF_SIZE
	int "UART bridge buffer size"
	default 256
	help
	  Set the buffer size for the UART bridge.

endmenu

source "Kconfig.zephyr"
