#include <dt-bindings/led/led.h>

/ {
	uart-bridge0 {
		compatible = "rfpros_uart_bridge";
		peers = <&cdc_acm_uart0 &uart0>;
	};

	uart-bridge1 {
		compatible = "rfpros_uart_bridge";
		peers = <&cdc_acm_uart1 &uart1>;
	};

	dp0 {
		compatible = "zephyr,swdp-gpio";
		status = "okay";
		clk-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
		dio-gpios = <&gpio0 12 GPIO_PULL_UP>;
		reset-gpios = <&gpio0 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		port-write-cycles = <1>;
	};

	aliases {
		ledstrip0 = &ws2812;
	};

	gpio_dynamic {
		compatible = "gpio-dynamic";
		gpio0 {
		   gpios = <&gpio0 16 0>;
		   label = "gpio0";
		};
		gpio1 {
		   gpios = <&gpio0 17 0>;
		   label = "gpio1";
		};
		gpio2 {
		   gpios = <&gpio0 18 0>;
		   label = "gpio2";
		};
		gpio3 {
		   gpios = <&gpio0 19 0>;
		   label = "gpio3";
		};
		gpio4 {
		   gpios = <&gpio0 20 0>;
		   label = "gpio4";
		};
		gpio5 {
		   gpios = <&gpio0 21 0>;
		   label = "gpio5";
		};
		gpio6 {
		   gpios = <&gpio0 25 0>;
		   label = "gpio6";
		};
		gpio7 {
		   gpios = <&gpio0 26 0>;
		   label = "gpio7";
		};
		gpio8 {
		   gpios = <&gpio0 27 0>;
		   label = "gpio8";
		};
		gpio9 {
		   gpios = <&gpio0 28 0>;
		   label = "gpio9";
		};
	 };
};

&pinctrl {
	uart0_default: uart0_default {
		group1 {
			pinmux = <UART0_TX_P0>;
		};
		group2 {
			pinmux = <UART0_RTS_P3>;
		};
		group3 {
			pinmux = <UART0_RX_P1>;
			input-enable;
			bias-pull-up;
		};
		group4 {
			pinmux = <UART0_CTS_P2>;
			input-enable;
			bias-pull-down;
		};
	};

	uart1_default: uart1_default {
		group1 {
			pinmux = <UART1_TX_P4>;
		};
		group2 {
			pinmux = <UART1_RTS_P7>;
		};
		group3 {
			pinmux = <UART1_RX_P5>;
			input-enable;
			bias-pull-up;
		};
		group4 {
			pinmux = <UART1_CTS_P6>;
			input-enable;
			bias-pull-down;
		};
	};

	ws2812_pio0_default: ws2812_pio0_default {
		ws2812 {
			pinmux = <PIO0_P22>;
		};
	};
};

&uart0 {
	label = "UART0";
};

&uart1 {
	label = "UART1";
	current-speed = <115200>;
	status = "okay";
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "USB CDC-ACM UART0";
	};

	cdc_acm_uart1: cdc_acm_uart1 {
		compatible = "zephyr,cdc-acm-uart";
		label = "USB CDC-ACM UART1";
	};
};

&pio0 {
	status = "okay";

	pio-ws2812 {
		compatible = "worldsemi,ws2812-rpi_pico-pio";
		status = "okay";
		pinctrl-0 = <&ws2812_pio0_default>;
		pinctrl-names = "default";
		bit-waveform = <3>, <3>, <4>;

		ws2812: ws2812 {
			status = "okay";
			gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
			chain-length = <1>;
			color-mapping = <LED_COLOR_ID_RED
				LED_COLOR_ID_GREEN
				LED_COLOR_ID_BLUE>;
			reset-delay = <280>;
			frequency = <800000>;
		};
	};
};

&flash0 {
	partitions {
		/*
		 * Usable flash. Starts at 0x100, after the bootloader. The partition
		 * size is 2MB minus the 0x100 bytes taken by the bootloader and the settings area.
		 */
		code_partition: partition@100 {
			label = "code-partition";
			reg = <0x100 (DT_SIZE_M(2) - 0x100 - 0x1000)>;
			read-only;
		};

		settings_partition: partition@1FEF00 {
			label = "settings-partition";
			reg = <0x1FEF00 0x1000>;
		};
	};
};
